.nav-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
img{
    width: 75px;
    height:50px;
    margin: 10px;
}
.nav-items>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-items>ul>li{
    margin: 10px;
}

/*body
*/
.card{
    height:auto;
    width: 250px;
    margin: 10px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    margin-right: 20px;
}
.card>img{
    height: 160px;
    width: 230px;
    border: 0px white;
    border-radius: 20px;
}
.restaurantList{
    display: flex;
    flex-wrap: wrap;
}
.cuisines{
    display: flex;
    flex-wrap: wrap;
}